/* @override 
	http://localhost:3000/client/amfan.css?65ec884b8a8487c39844b25e687d6a6d47404eeb
	http://localhost:3000/client/amfan.css?004624881ceab8845c47d0fbdb2e3e9d417fdcbc
	http://localhost:3000/client/amfan.css?fe7d45fd290541f0730c25686ddb2ef538d5e444
	http://localhost:3000/client/amfan.css?2b0e826a49ab28728ed5d6390fe34f7603125ff9
	http://localhost:3000/client/amfan.css?0fc33feece807fc27df429d0a1648c811214eda3
	http://localhost:3000/client/amfan.css?d98f0b1b44b3360f45a78eab12f10af02ca9da04
	http://localhost:3000/client/amfan.css?639d0b35cd49d0aa41bfc9d5c6279f4fabac1c7a
	http://localhost:3000/client/amfan.css?1a2d841e4e1f83675abfc70bde91689635ba1e07
	http://localhost:3000/client/amfan.css?6307a463fee5e970f531f0edb4133af17d83436f
	http://localhost:3000/client/amfan.css?2a16bc36549407ce99795244dc6607e69c75e74d
	http://localhost:3000/client/amfan.css?81d03b734018700d76eee360db1c728202189a20
	http://localhost:3000/client/amfan.css?51aeaa4cf027f2aa106be2d30f275d8fcb5d6fb5
	http://localhost:3000/client/amfan.css?900f17ec586d453891461288e4555c82a8c83d1a
	http://localhost:3000/client/amfan.css?c07f718b3d8dfae384c3fe827e4e34025de8b11e
	http://localhost:3000/client/amfan.css?2d5db2b4f937be43b485a4f20816a40cf79b21b8
	http://localhost:3000/packages/accounts-ui/login_buttons.less.css?4585618c8d8346c3362ffe90eb9c6179eb4554a4
	http://localhost:3000/client/amfan.css?fef15a78e58808cfabdfb075fd93ee35d3a6c559
	http://localhost:3000/client/amfan.css?18bda6fbf29535ce3e8ed49a56521960e372d3cf
	http://localhost:3000/client/amfan.css?6ad24326c634d6171d96b71fecfcb8b0b88e956f
	http://localhost:3000/client/amfan.css?cf4cba616a2bc66015a7c1c38ff6d351d8601be3
	http://localhost:3000/client/amfan.css?b513cf11270533aa189d6d098400438249cb0b96
	http://localhost:3000/client/amfan.css?c5153c061fb05ec7e36e1cf9a06a96daaa19e607
	http://localhost:3000/client/amfan.css?481a23d79fe0f22c2b561c75cac3716bbcf24553
	http://localhost:3000/client/amfan.css?9d89729762d22d4ea75a2a30326f97a6581c3b34
	http://localhost:3000/client/amfan.css?503cab5e563ccb6c8f00374de45e83e13bc30121
	http://localhost:3000/client/amfan.css?1659696537a0d85d0ea35d30788d4a4d466c6501
	http://localhost:3000/client/amfan.css?e877b6771c807ed5f54a150e58902f326768157d
	http://localhost:3000/client/amfan.css?495d41e31fee110ea0d97933eefc25054b7495c2
	http://localhost:3000/client/amfan.css?55bc11b217501b187daf9207c4fe098ad1594395
	http://localhost:3000/client/amfan.css?1c60d7891d1d611bf7198c78b8c5a0023825669f
	http://localhost:3000/client/amfan.css?29035daaec3a55c8ebd6ac796c7d65eaf39ce80f
	http://localhost:3000/client/amfan.css?685d73f84cd30a6c944ffd4ecb8822aaa7157a0a
	http://localhost:3000/client/amfan.css?857424e01897f961778df73b172a6a38d2a8bc8b
	http://localhost:3000/client/amfan.css?c83532d9ec32dac4c8b9f1802d2f2615443fa28b
	http://localhost:3000/client/amfan.css?adfe39e716aed79c53ff48d93da3f2ebc5fec5f9
	http://localhost:3000/client/amfan.css?270cdb0f1529d03d07a0a5db75e7bfaace046db1
	http://localhost:3000/client/amfan.css?be8beea31e0c872801e1d8f5c7722b45f73d1238
	http://localhost:3000/client/amfan.css?c28698fd9fbd8214e687210b09b945be3aea28c3 */





/* @override 
	http://startgrid.localhost:8888/startgrid.css */

/*** GLOBAL CSS RESET ***** 
**************************/

/* http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126   License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*** TEXT ***************** 
**************************/

body  {
	font-family: Arial;
	line-height: 1.3;
}
h1, h2, h3 {
	text-transform: uppercase;
	line-height: 1;
}
h1 {
	font-size: 32px;
	margin-bottom: 10px;
}
h2 {
	font-size: 26px;
	margin-bottom: 10px;
}
h3 {
	font-size: 20px;
	margin-bottom: 10px;
}
.scorekeeper h1, .scorekeeper h2, .scorekeeper h3 {
	margin-bottom: 0;
}
p {
	margin: 15px 0;
}
p.large {
	font-size: 30px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


/*** MAIN STRUCTURE ******* 
**************************/

body {
	overflow: hidden;
}
.wrapper {
	overflow: hidden;
}
#main_content, #slide_menu {
	position: absolute;
	-webkit-transition: all .25s ease-in-out .1s;
	-moz-transition: all .25s ease-in-out .1s;
	-o-transition: all .25s ease-in-out .1s;
	transition: all .25s ease-in-out .1s;
	height: 100%;
	overflow: scroll;
}
#main_content {
	width: 100%;
	overflow: hidden;
}
#slide_menu {
	width: 80%;
	right: 0%;
	background: #121212;
	text-align: right;
}
#main_content:target, #main_content:target header.main {
	right: 80%;	
	left: -80%;
}
#main_content:target .screen {
	position: absolute;
	height: 100%;
	width: 100%;
	cursor: pointer;
	z-index: 999;
}
#slide_menu li, #slide_menu div#login-buttons {
	display: block;
	padding: 15px;
	margin: 5px;
	background: rgba(255,255,255,.03);
	text-transform: uppercase;
}
#slide_menu li:hover, #slide_menu div#login-buttons:hover {
	text-decoration: none;
	background: rgba(255,255,255,.05);
	cursor: pointer;
}
header.main {
	margin: 0;
	height: 47px;
	min-width: 900px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	-webkit-transition: left .25s ease-in-out .1s;
	-moz-transition: left .25s ease-in-out .1s;
	-o-transition: left .25s ease-in-out .1s;
	transition: left .25s ease-in-out .1s;
}
#flip_container, #stats_board {
	min-width: 960px;
	position: absolute;
	padding: 0 40px;
	left: 0;
	padding-top: 70px;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
#stats_board, .show_stats #flip_container {
	opacity: 0;
}
.show_stats #stats_board {
	opacity: 1;
	z-index: 2;
}
.show_stats #sub {
	display: none;
}
table {
	width: 100%;
	margin-bottom: 20px;
	table-layout: fixed;
}
thead td {
	color: #fff;
	border-top: 0;
	text-transform: uppercase;
	background-color: rgba(38, 82, 99, 0.4);
}
thead tr:nth-of-type(odd) {
}
tr:nth-of-type(even) {
	background: rgba(255,255,255,.05);
}
td {
	color: #f2f2f2;
	font-size: 12px;
	padding: 5px 8px;
	border-right: 1px solid #111;
	border-top: 1px solid #111;
}
tr:hover {
	background: rgba(255,255,255,.1);
}
thead tr:hover {
	background: inherit;
}
td:first-child {
	width: 18%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
td:last-child {
	border-right: 0;
}
.clear {
	clear: both;
}
/*MICRO CLEARFIX*/
.cf:before,
.cf:after {
    content: " "; 
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1; /* IE 6/7 only trigger hasLayout and contain floats */
}


/*** MAIN COLORS **********
**************************/

body {
	color: #f4f4f4;
}
#main_content {
	background: url("/dark_dotted.png");
}
h1, h2, h3 {
	color: #fff;
}
a {
	color: #fff;
}
header.main {
	background-image: url("/nav-bg.png");
}
.gray, .team header {
	background: rgb(102,102,102); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(102,102,102,1) 0%, rgba(44,44,44,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(100%,rgba(44,44,44,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(44,44,44,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(44,44,44,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(44,44,44,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(102,102,102,1) 0%,rgba(44,44,44,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#2c2c2c',GradientType=0 ); /* IE6-9 */
	
}
.dark_gray {
	background-color: #323232;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3f3f3f), to(#292929));
	background: -moz-linear-gradient(0% 100% 90deg, #292929, #3f3f3f);
	background: -o-linear-gradient(#3f3f3f, #292929);
	background: linear-gradient(to bottom, #3f3f3f 0%, #292929 100%); /* W3C */	
}
.dark_gray:hover {
	background-color: #193944;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#24444f), to(#10303b));
	background: -moz-linear-gradient(0% 100% 90deg, #10303b, #24444f);
	background: -o-linear-gradient(#24444f, #10303b);
	background: linear-gradient(to bottom, #24444f 0%, #10303b 100%); /* W3C */
}
.green {
	background: rgb(39,205,81); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(39,205,81,1) 0%, rgba(2,184,39,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,205,81,1)), color-stop(100%,rgba(2,184,39,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(39,205,81,1) 0%,rgba(2,184,39,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(39,205,81,1) 0%,rgba(2,184,39,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(39,205,81,1) 0%,rgba(2,184,39,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(39,205,81,1) 0%,rgba(2,184,39,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27cd51', endColorstr='#02b827',GradientType=0 ); /* IE6-9 */
}
.blue, input.green:hover, .team.active header, .subbing .team header {
	background: rgb(65,116,137); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(65,116,137,1) 0%, rgba(7,58,77,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(65,116,137,1)), color-stop(100%,rgba(7,58,77,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(65,116,137,1) 0%,rgba(7,58,77,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(65,116,137,1) 0%,rgba(7,58,77,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(65,116,137,1) 0%,rgba(7,58,77,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(65,116,137,1) 0%,rgba(7,58,77,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#417489', endColorstr='#073a4d',GradientType=0 ); /* IE6-9 */
}



/*** FORMS **********
**************************/

input[type="button"] {
	width: 70%;
	height: 47px;
	line-height: 47px;
	margin-bottom: 15px;
	border: 0;
	border-radius: 7px;
	color: #fefefe;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0px 3px 5px #333;
}
.login-form input {
	width: 70%;
}
input.small {
	width: 40%;
	margin: 0px 10px 15px;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
input:first-child {
	margin-top: 30px;
}



/*** THE REST *************
**************************/

header.main > img {
	padding-left: 20px;
}
.nav_button {
	color: #f4f4f4;
	font-size: 32px;
	float: right;
	height: 42px;
	width: 50px;
	text-align: center;
	line-height: 41px;
	background-color: rgba(255,255,255,.1);
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 1px;	
}
.nav_button:last-child {
	border-left: 1px solid rgba(0,0,0,.25);
}
#edit.nav_button {
	background-image: url("/icon_pencil.png");
}
#stats.nav_button {
	background-image: url("/stats.png");
}
#game.nav_button {
	background-image: url("/game_pad.png");
	background-color: rgba(255,255,255,.25);
}
.nav_button:hover, .editing #game.nav_button:hover, .show_stats #game.nav_button:hover {
	background-color: rgba(255,255,255,.15);
	cursor: pointer;
	text-decoration: none;
}
#main_content:target #nav_toggle, #main_content.editing #edit, #main_content.show_stats #stats {
	background-color: rgba(255,255,255,.25);
}
.editing #game, .show_stats #game {
	background-color: rgba(255,255,255,.07);
}
#score_board {
	float: left;
	width: 55%;
	padding-right: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.team_name {
	float: left;
	width: 22%;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.team_name.two {
	float: right;
}
.team_score.two {
	right: 0;
	left: inherit;
}
.team_score {
	position: absolute;
	left: 0;
	top: -9px;
	border: 3px solid #003b56;
	border-radius: 14px;
	width: 120px;
	height: 110px;
	line-height: 110px;
	font-size: 80px;
	font-weight: bold;
	background: url("/score-bg.png");
	font-family: helvetica, arial, sans-serif;
}
#score_line {
	background: url("/clock-bg.png") center repeat-x;
	border-radius: 14px;
	text-align: center;
	position: relative;
	height: 100px;
	line-height: 100px;
	margin-top: 9px;
}
.clock, .possession {
	float: left;
	width: 56%;
	text-align: center;
}
.clock {
	display: none;
}
.possession {
	margin-top: 9px;
	height: 92px;
	line-height: 92px;
}
.larrow, .rarrow {
	display: inline-block;
	width: 17px;
	height: 20px;
	margin-bottom: -4px;
	margin: 0 10px -4px 10px;
}
.larrow.active, .rarrow.active {
	background-image: url("/poss-arrows.png");
}
.rarrow.active {
	background-position: 17px 0;
}
.plays {
	float: right;
	width: 45%;
	height: 162px;
	overflow: scroll;
}
.solo .plays {
	height: 333px;
}
.plays li {
	padding: 5px 0 5px 10px;
	line-height: 1.5;
	margin-bottom: 10px;
	background-color: #1a161a;
	font-size: 14px;
	position: relative;
}
.plays li:hover {
	background-color: #222;
}
.play_text {
	margin-right: 0;
	display: block;
	width: 100%;
	padding-right: 110px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.plays li:hover .play_text {
	text-overflow: clip;
	white-space: normal;
}
.plays li img {
	float: right;
	cursor: pointer;
	margin-left: 7px;
}
.team {
	margin: 25px 30px 0 0;
	float: left;
	width: 48%;
}
.subbing .team {
	margin-top: 0;
}
.team.solo {
	margin-top: 0;
}
.team.solo h3 {
	margin-bottom: 10px;
}
.team.solo .player_bg {
	background: none;
}
.team:last-of-type {
	margin-right: 0;
	float: right;
}
.team header {
	height: 47px;
	padding: 0 10px;
}
.team header h2 {
	float: left;
	line-height: 47px;
}
.test {
	background-color: #193944;
}
.test2 {
	background-color: #24444f;
}
.possession_ball {
	float: right;
	margin-top: 2px;
	background-image: url("/bball.png");
	background-position: 0 42px;
	width: 42px;
	height: 42px;
	cursor: pointer;
}
.subbing .possession_ball {
	background: none;
}
.subbing.editing .possession_ball {
	background: rgba(255,255,255,.2);
	width: inherit;
	height: 25px;
	line-height: 25px;
	padding: 0 5px;
	border-radius: 5px;
	margin-top: 10px;
}
.subbing.editing .possession_ball:hover {
	background: rgba(255,255,255,.3);
}
.subbing.editing .possession_ball:after {
	content: "+ Add Player";
	width: inherit;
}
.team.active .possession_ball {
	background-position: 0 0;
}
.team header img {
	float: left;
	margin-top: 7px;
	line-height: 47px;
	margin-right: 20px;
}
.player {
	padding: 5px;
	height: 56px;
	line-height: 56px;
	color: #ccc;
	font-size: 28px;
	cursor: pointer;
	text-align: left;
}
.subbing .player, .subbing .player img {
	height: 40px;
	line-height: 40px;
}
.subbing .player_stats {
	height: 40px;
}
.player.out {
	opacity: 0;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out .25s;
	-o-transition: all .25s ease-in-out .25s;
	transition: all .25s ease-in-out;
}
.subbing .player.out {
	opacity: 1;
}
.player:nth-of-type(6) {
	margin-top: 20px;
}
.player:nth-of-type(6):before {
	position: absolute;
	top: -20px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	content: "Subs";
	background-color: rgba(35, 86, 106,.76);
}
.player {
	padding-right: 60px;
	position: relative;
}
.player_name {
	max-width: 86%%;
	position: absolute;
	left: 0;
	padding-left: 120px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.input_container {
	position: absolute;
	padding-left: 70px;
	padding-right: 16px;
	width: 88%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.subbing .input_container {
	padding-left: 52px;
}
.editing .player input {
	background: none;
	margin-top: 0;
	height: 100%;
	line-height: 1;
	outline: none;
	width: 100%;
	border: 0;
	color: #ccc;
	font-size: 28px;
	border-radius: 3px;
	background: rgba(255,255,255,.2);
	border: 1px solid rgba(255,255,255,.2);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.player input.green {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.solo .player:hover {
	background-image: url("/player.png");
	cursor: default;
}
.player img {
	float: left;
	margin-right: 15px;
}
.player_number {
	color: #bbefff;
	margin-right: 10px;
}
.player_bg {
	height: 330px;
	overflow: hidden;
	background: url("/bo_play_pattern.png");
	text-align: center;
	position: relative;
}
.subbing .player_bg {
	overflow: scroll;
}
#main_content.editing .editable {
	padding-right: 30px;
	cursor: pointer;
	background: url("/icon_pencil_small.png") right center no-repeat;
}
.team_name h1 {
	margin: 0 -70% 10px 5px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.team_name.two h1 {
	margin: 0 5px 10px -70%;
	text-align: right;
}
input.cancel {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: inherit;
	padding: 0 15px 0 28px;
	height: 40px;
	font-size: 12px;
	margin-bottom: 0;
	border-radius: 5px;
	line-height: 40px;
	background: url("/delete_white.png") no-repeat 10px center, rgba(0,0,0,.6);
	box-shadow: none;
	color: #f4f4f4;
}
input.cancel:hover {
	background-color: rgba(0,0,0,.8);
}
#main_content.editing header.main:before {
	content: "You are in Setup mode";
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	margin: 0 auto -20px;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	background: rgba(255,255,255,.2);
	border-radius: 0 0 5px 5px;
}

.hidden_link {
	float: right;
	width: 40px;
	height: 40px;
	background: none;
}
.hidden_link:hover {
	background: none;
	cursor: default;
}
.player_stats {
	position: absolute;
	right: 0;
	top: 0;
	width: 10%;
	height: 56px;
	padding: 5px;
	font-size: 11.5px;
	line-height: 1.7em;
	background: rgba(255,255,255,.1);
	text-transform: lowercase;
	text-align: center;
}
.player_stats li {
	display: block;
}
.clock h3 {
	display: inline-block;
	clear: both;
	font-size: 16px;
	padding: 3px 7px;
	cursor: pointer;
	margin-bottom: 10px;
}
.clock h3.active {
	background: rgba(255,255,255,.15);
	border-radius: 5px;
}
.plays .nav_button {
	width: 30px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	background-color: rgba(255,255,255,.07);
	border: 0;
}
.plays .nav_button:hover {
	background-color: rgba(255,255,255,.12);
}
.plays .nav_button:last-child {
	border: 0;
}
.delete_action {
	background-image: url("/delete_white.png");
}
#fb {
	background-image: url("/fb.png");
	right: 31px;
}
#tw {
	background-image: url("/tw.png");
	right: 62px;
}
#sub {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px 5px 0 0;
	padding: 8px 0;
	cursor: pointer;
}
#sub span {
	padding-left: 25px;
	background: url("/substitute.png") left center no-repeat;
}
#stats_board h2 {
	margin: 25px 0 15px 0;
}
tr.totals td {
	text-transform: uppercase;
	background: rgba(255,255,255,.1);
	border-top: 3px solid #111;
}

